<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489414181286-ffn3rig4l4h1k7l79b1s70kgs83a8m92.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489414181286-ffn3rig4l4h1k7l79b1s70kgs83a8m92</string>
	<key>API_KEY</key>
	<string>AIzaSyDBEGtQZqB-tWWjuKuA0KJweh-IbzLgHJA</string>
	<key>GCM_SENDER_ID</key>
	<string>489414181286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plansmanager</string>
	<key>PROJECT_ID</key>
	<string>plansmanager-17596</string>
	<key>STORAGE_BUCKET</key>
	<string>plansmanager-17596.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489414181286:ios:fc05179f0e40f3454c0f67</string>
</dict>
</plist>